[submodule "submodule/FFmpeg"]
	path = submodule/FFmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "submodule/ffmpegAndroid"]
	path = submodule/ffmpegAndroid
	url = git@github.com:umirtech/ffmpegAndroid.git
